/* Seletores de tags */

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body>* {
    line-height: 4vh;
    padding: 1vh 1vw;
}

article {
    flex: 1;
    background-color: #a8b19d;
}

header,
footer {
    background-color: #121619;
    color: #a8b19d;
    min-height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


button {
    background-color: #121619;
    color: #a8b19d;
    width: max(120px, 10vw) !important;
}


th {
    text-align: center !important;
}

th,
td {
    padding: 2px !important;

}

table,
th,
td {
    border: 1px solid #121619 !important;
    border-collapse: collapse !important;
}

i {
    cursor: pointer;
}

button>i {
    padding-left: 5px;
}

green,
red {
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

green {
    color: rgb(23, 102, 23)
}

red {
    color: rgb(201, 40, 40);
}

/* Classes */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-img {
    transform: scale(2);
}

.white {
    color: #d4d7d8 !important;
}

.gitimage {
    max-width: 40px;
}

.btn-green {
    background-color: rgb(23, 102, 23) !important;
    color: #d4d7d8 !important;
}